.row div[class*=col] {
  position: relative;
}
@media screen and (min-width: 1000px) {
  .content {
    width: 1000px;
    margin: auto;
  }
  .container-fluid {
    width: 100%;
  }
  .container-fluid > .row {
    width: 100%;
  }
  .container-fluid > .row:before,
  .container-fluid > .row:after {
    content: "";
    display: block;
  }
  .container-fluid > .row:after {
    clear: both;
  }
  .container > .row > .col-m-1 {
    float: left;
    width: 8.33333333%;
  }
  .container-fluid > .row > .col-m-1 {
    float: left;
    width: 8.33333333%;
  }
  .container > .row > .col-m-2 {
    float: left;
    width: 16.66666667%;
  }
  .container-fluid > .row > .col-m-2 {
    float: left;
    width: 16.66666667%;
  }
  .container > .row > .col-m-3 {
    float: left;
    width: 25%;
  }
  .container-fluid > .row > .col-m-3 {
    float: left;
    width: 25%;
  }
  .container > .row > .col-m-4 {
    float: left;
    width: 33.33333333%;
  }
  .container-fluid > .row > .col-m-4 {
    float: left;
    width: 33.33333333%;
  }
  .container > .row > .col-m-5 {
    float: left;
    width: 41.66666667%;
  }
  .container-fluid > .row > .col-m-5 {
    float: left;
    width: 41.66666667%;
  }
  .container > .row > .col-m-6 {
    float: left;
    width: 50%;
  }
  .container-fluid > .row > .col-m-6 {
    float: left;
    width: 50%;
  }
  .container > .row > .col-m-7 {
    float: left;
    width: 58.33333333%;
  }
  .container-fluid > .row > .col-m-7 {
    float: left;
    width: 58.33333333%;
  }
  .container > .row > .col-m-8 {
    float: left;
    width: 66.66666667%;
  }
  .container-fluid > .row > .col-m-8 {
    float: left;
    width: 66.66666667%;
  }
  .container > .row > .col-m-9 {
    float: left;
    width: 75%;
  }
  .container-fluid > .row > .col-m-9 {
    float: left;
    width: 75%;
  }
  .container > .row > .col-m-10 {
    float: left;
    width: 83.33333333%;
  }
  .container-fluid > .row > .col-m-10 {
    float: left;
    width: 83.33333333%;
  }
  .container > .row > .col-m-11 {
    float: left;
    width: 91.66666667%;
  }
  .container-fluid > .row > .col-m-11 {
    float: left;
    width: 91.66666667%;
  }
  .container > .row > .col-m-12 {
    float: left;
    width: 100%;
  }
  .container-fluid > .row > .col-m-12 {
    float: left;
    width: 100%;
  }
}
@media screen and (min-width: 1000px) {
  .content {
    width: 1000px;
    margin: auto;
  }
  .container-fluid {
    width: 100%;
  }
  .container > .row > .col-t-1 {
    float: left;
    width: 8.33333333%;
  }
  .container-fluid > .row > .col-t-1 {
    float: left;
    width: 8.33333333%;
  }
  .container > .row > .col-t-2 {
    float: left;
    width: 16.66666667%;
  }
  .container-fluid > .row > .col-t-2 {
    float: left;
    width: 16.66666667%;
  }
  .container > .row > .col-t-3 {
    float: left;
    width: 25%;
  }
  .container-fluid > .row > .col-t-3 {
    float: left;
    width: 25%;
  }
  .container > .row > .col-t-4 {
    float: left;
    width: 33.33333333%;
  }
  .container-fluid > .row > .col-t-4 {
    float: left;
    width: 33.33333333%;
  }
  .container > .row > .col-t-5 {
    float: left;
    width: 41.66666667%;
  }
  .container-fluid > .row > .col-t-5 {
    float: left;
    width: 41.66666667%;
  }
  .container > .row > .col-t-6 {
    float: left;
    width: 50%;
  }
  .container-fluid > .row > .col-t-6 {
    float: left;
    width: 50%;
  }
  .container > .row > .col-t-7 {
    float: left;
    width: 58.33333333%;
  }
  .container-fluid > .row > .col-t-7 {
    float: left;
    width: 58.33333333%;
  }
  .container > .row > .col-t-8 {
    float: left;
    width: 66.66666667%;
  }
  .container-fluid > .row > .col-t-8 {
    float: left;
    width: 66.66666667%;
  }
  .container > .row > .col-t-9 {
    float: left;
    width: 75%;
  }
  .container-fluid > .row > .col-t-9 {
    float: left;
    width: 75%;
  }
  .container > .row > .col-t-10 {
    float: left;
    width: 83.33333333%;
  }
  .container-fluid > .row > .col-t-10 {
    float: left;
    width: 83.33333333%;
  }
  .container > .row > .col-t-11 {
    float: left;
    width: 91.66666667%;
  }
  .container-fluid > .row > .col-t-11 {
    float: left;
    width: 91.66666667%;
  }
  .container > .row > .col-t-12 {
    float: left;
    width: 100%;
  }
  .container-fluid > .row > .col-t-12 {
    float: left;
    width: 100%;
  }
  .container-fluid > .row {
    width: 100%;
  }
  .container-fluid > .row:before,
  .container-fluid > .row:after {
    content: "";
    display: block;
  }
  .container-fluid > .row:after {
    clear: both;
  }
}
@media screen and (min-width: 1000px) {
  .content {
    width: 1000px;
    margin: auto;
  }
  .container-fluid {
    width: 100%;
  }
  .container > .row > .col-l-1 {
    float: left;
    width: 8.33333333%;
  }
  .container-fluid > .row > .col-l-1 {
    float: left;
    width: 8.33333333%;
  }
  .container > .row > .col-l-2 {
    float: left;
    width: 16.66666667%;
  }
  .container-fluid > .row > .col-l-2 {
    float: left;
    width: 16.66666667%;
  }
  .container > .row > .col-l-3 {
    float: left;
    width: 25%;
  }
  .container-fluid > .row > .col-l-3 {
    float: left;
    width: 25%;
  }
  .container > .row > .col-l-4 {
    float: left;
    width: 33.33333333%;
  }
  .container-fluid > .row > .col-l-4 {
    float: left;
    width: 33.33333333%;
  }
  .container > .row > .col-l-5 {
    float: left;
    width: 41.66666667%;
  }
  .container-fluid > .row > .col-l-5 {
    float: left;
    width: 41.66666667%;
  }
  .container > .row > .col-l-6 {
    float: left;
    width: 50%;
  }
  .container-fluid > .row > .col-l-6 {
    float: left;
    width: 50%;
  }
  .container > .row > .col-l-7 {
    float: left;
    width: 58.33333333%;
  }
  .container-fluid > .row > .col-l-7 {
    float: left;
    width: 58.33333333%;
  }
  .container > .row > .col-l-8 {
    float: left;
    width: 66.66666667%;
  }
  .container-fluid > .row > .col-l-8 {
    float: left;
    width: 66.66666667%;
  }
  .container > .row > .col-l-9 {
    float: left;
    width: 75%;
  }
  .container-fluid > .row > .col-l-9 {
    float: left;
    width: 75%;
  }
  .container > .row > .col-l-10 {
    float: left;
    width: 83.33333333%;
  }
  .container-fluid > .row > .col-l-10 {
    float: left;
    width: 83.33333333%;
  }
  .container > .row > .col-l-11 {
    float: left;
    width: 91.66666667%;
  }
  .container-fluid > .row > .col-l-11 {
    float: left;
    width: 91.66666667%;
  }
  .container > .row > .col-l-12 {
    float: left;
    width: 100%;
  }
  .container-fluid > .row > .col-l-12 {
    float: left;
    width: 100%;
  }
  .container-fluid > .row {
    width: 100%;
  }
  .container-fluid > .row:before,
  .container-fluid > .row:after {
    content: "";
    display: block;
  }
  .container-fluid > .row:after {
    clear: both;
  }
}
